name: Tester (Latest)

on:
  workflow_call:
    inputs:
      php_version:
        description: PHP version.
        required: false
        default: "8.2"
        type: string
      laravel_version:
        description: Laravel version for sandbox app.
        required: false
        default: "^9.0|^10.0|^11.0"
        type: string
      date_format:
        description: "Date format"
        required: false
        type: string
      calendar_type:
        description: "Calendar type"
        required: false
        type: string
        default: "jalali"
      timezone:
        description: "Timezone"
        required: false
        type: string
        default: "UTC"
      package_name:
        description: "Package name to test (e.g., jobmetric/laravel-env-modifier). If not provided, will be read from composer.json"
        required: true
        type: string
    secrets:
      bot_token:
        description: "Telegram bot token created via BotFather"
        required: true
      chat_id:
        description: "Target Telegram chat ID (user, group, or channel)"
        required: true

jobs:
  test:
    uses: jobmetric/laravel-package-tester/.github/workflows/strategies/v1.yml@master
    with:
      php_version: ${{ inputs.php_version }}
      laravel_version: ${{ inputs.laravel_version }}
      date_format: ${{ inputs.date_format }}
      calendar_type: ${{ inputs.calendar_type }}
      timezone: ${{ inputs.timezone }}
      package_name: ${{ inputs.package_name }}
    secrets:
      bot_token: ${{ secrets.bot_token }}
      chat_id: ${{ secrets.chat_id }}
